<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.apps.miyagi.development">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".GoogleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.apps.miyagi.development.data.net.config.GlideModuleConfig"
            android:value="GlideModule"/>

        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.error.ErrorScreenActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar.Register"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <activity
            android:name=".ui.lesson.LessonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="user"/>
        <activity
            android:name=".ui.lesson.LessonTabletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="user"/>
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
        </activity>
        <activity
            android:name=".ui.offline.OfflineDashboardActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.practice.PracticeActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.web.WebViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.result.ResultActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.statistics.StatisticsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.statistics.StatisticsTabletActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.assessment.AssessmentActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.diagnostics.DiagnosticsActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.diagnostics.loading.DiagnosticsLoadingActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.onboarding.OnboardingPushActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.audio.player.AudioPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.audio.player.AudioPlayerTabletActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.audio.transcript.AudioTranscriptActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.dashboard.navigation.LegalMenuActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.dashboard.navigation.LicencesListActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.dashboard.navigation.LicenceActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d4b667cde87681e5c7447187d15b9c7530ec1a4b"/>

        <service android:name=".ui.audio.service.AudioPlaybackService">
            <intent-filter>
                <action android:name="com.google.android.apps.miyagi.development.ui.audio.service.ACTION.PLAY_TOGGLE"/>
                <action android:name="com.google.android.apps.miyagi.development.ui.audio.service.ACTION.ACTION_FORWARD"/>
                <action android:name="com.google.android.apps.miyagi.development.ui.audio.service.ACTION.ACTION_BACKWARD"/>
                <action android:name="com.google.android.apps.miyagi.development.ui.audio.service.ACTION.STOP_SERVICE"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </service>

        <service android:name=".notifications.GoogleMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".notifications.GoogleInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>